<div class="col">
    <label>
        Имя
        <input type="text" [(ngModel)]="firstName" class="form-control" [value]="firstName" />
    </label><br />
    <label>
        Фамилия
        <input type="text" [(ngModel)]="lastName" class="form-control" [value]="lastName" />
    </label><br />
    <label>
        Отчество
        <input type="text" [(ngModel)]="patronymic" class="form-control" [value]="patronymic" />
    </label><br />
    <label>
        Адрес
        <input type="text" [(ngModel)]="address" class="form-control" [value]="address" />
    </label><br />

    <input type="submit" class="btn btn-primary mb-3" value="Принять изменения" (click)="Submit()"/><br />
    <input type="submit" class="btn btn-primary" value="Отмена" (click)="this.Cancel()"/>
</div>